<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tit %}HOME{% endblock %}</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

     <link href="{% static 'home/css/scrolling-nav.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"/>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 <nav class ="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <!header----->
                <div class="nav-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavbar">
                        <span class ="icon-bar"></span>
                        <span class ="icon-bar"></span>
                        <span class ="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home:index' %}">EXPERTS</a>
                </div>
                <!-----Items----->
                <div class="collapse navbar-collapse" id="topnavbar">
                    <ul class="nav navbar-nav">


                        <li class="{% block student_active %}{% endblock %}" >

                            <a href="{% url 'home:student' %}">
                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;Student
                            </a>
                        </li>

                         <li class="{% block test_active %}{% endblock %}" >

                            <a href="{% url 'home:test' %}">
                                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>&nbsp;Test
                            </a>
                        </li>


                    </ul>

           {% block form %}
                    <ul class="nav navbar-nav navbar-right">

                        {% block Search %}

                        {% endblock %}

                        <li >
                            <a class="page-scroll" href="#page-top">{% block first-but %}<span class="glyphicon glyphicon-home"></span>&nbsp;Home{% endblock %}</a>
                         </li>

                        <li >
                            <a class="page-scroll" href="#about">
                              {% block second-but %}  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Faculty{% endblock %}
                            </a>
                        </li>

                        <li >
                            <a class="page-scroll" href="#services">{% block third-but %} <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Course{% endblock %}</a>
                         </li>
                        <li >
                            <a class="page-scroll" href="#contact">{% block fourth-but %}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;About{% endblock %}</a>
                         </li>

                        {% block Insert %}
                        {%  endblock %}
                    </ul>
                </div>
            </div>
        </nav>
  {% block slider %}
    <section id="intro" class="intro-section check">

               <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    {% block first %}{% endblock %}
                </div>

            </div>
        </div>
              </section>

              {% endblock %}

    <!-- About Section -->
    <section id="about" class="about-section ">
        <div class="container " >
            <div class="row"  >
                <div class=" "  >

                         {% block second %}{% endblock %}
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block third %}{% endblock %}{% block detail_third %}
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block fourth %}{% endblock %}{% endblock %}<!--detail_third block -->
                </div>
            </div>
        </div>
    </section>
 {% endblock %}<!-- block form -->
  {%  block footer %}
 {% endblock %}
 <script src="{% static 'home/js/scrolling-nav.js' %}"></script>
      <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/jquery.easing.min.js' %}"></script>


</body>
</html>